.cart{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(207, 205, 205, 0.986);
  border-radius: 7px 7px ;
  z-index: 100;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 20px;

}
.cart>div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  overflow: auto;
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

}
.cart>p{
  font-family: var(--fontFamily);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color:var(--black);
}
.close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color:var(--grey);
  font-weight: bold;
}
.close-btn:hover{
  text-shadow: 1px 1px 1px var(--black);
}

.remove-btn{
  position: absolute;
  bottom: 5px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color:var(--grey);
  font-weight: bold;
}
.cart-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%; 
  height: 100%; 
position: relative;
overflow: hidden;

}
.cart-item-image{
  width: 20%;
  
}
.cart-text{
  width: 60%;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px
}
.cart-text>p{
  width: 100%;
  text-align:start;
  padding: 10px;
  color: var(--black);
  font-size: 18px;
}
.cart-text>h2{
  width: 100%;
  text-align:start;
  padding: 10px;
  color: var(--black);
  font-size: 20px;
}
/* modal */

.modal-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 90%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-info {
  margin-bottom: 20px;
}

.modal-img img {
  width: 100%;
  height: auto;
}

.modal-video video {
  width: 100%;
  height: auto;
}

@media (max-width: 580px) {
  .cart{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    /* height: 100%; */
    /* border-radius: 0; */
    background-color:var(--white);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; */
    padding: 30px;
    z-index: 100; 
  }
  .cart>ul{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    overflow-y: auto;
    
  }
  .cart>ul>li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
  }
  .cart>p{
    font-size: 26px;
  }
  .close-btn{
    color:var(--black);
    position: fixed;
    top:0px;
    left:-320px;
    font-size: 20px;
    padding: 2px;
  }
  .cart-item-image{
    width: 50%;
    
  }
  .cart-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* gap: 10px; */
    
  }
  .cart-text>h2{
    font-size: 20px;
    color:var(--black);
    font-weight: 600;
    padding: 0px;
  }
  .cart-text>p{
    font-size: 14px;
    color:var(--black);
    font-weight: 600;
    padding: 0px;
  }
  .cart-item{
    position: relative;
    /* border: 1px solid var(--grey); */
    border-radius: 10px;
  }
  .cart-item-image{
    border-radius: 10px 0px 0px 10px;
    height: 100%;
  }
  .remove-btn{
    position: absolute;
    bottom: 5px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color:var(--grey);
    font-weight: bold;
  }
}