.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  width: 90%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
 
}
.container{
  width: 900px;
  /* height: 100vh; */
  /* display: flex; */

  align-items: center;
  justify-content: center;
}

.page_404>img {
  width: 100%;
  height: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 500px;
  width: 100%;
  background-position: center;
  margin-top: 50px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

}

.four_zero_four_bg>h1 {
  text-align: center;
  font-size: 12rem;
  /* color: rgb(197, 0, 0); */
  /* position: absolute; */
  top: 100px;
  animation: blinkingText 3s infinite;

}
@keyframes blinkingText {
  0% {
    opacity: 0;
    text-shadow: red 0 0 10px;
    color: white;

  }
  90% {
   opacity: 1;
    color: red;
    /* text-shadow: red 0 0 10px; */
  }
  100% {
     opacity: 0.5;
    color: rgb(243, 65, 65);
  }
}

.four_zero_four_bg>h3 {
  font-size: 80px;
  color: gray;
}

.link_404 {
  width: fit-content;
  font-size: 22px;
  text-align: center;
  color: #1d1111 !important;
  padding: 10px 20px;
  background: #4e3f3f;
  border: 1px solid #1d1111;
  border-radius: 10px;
  margin-top: 20px;
  /* border:1px solid #1d1111; */
  /* display: inline-block; */

}
.contant_box_404 {
  margin-top: -50px;
  /* border: #1d1111 1px solid; */
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contant_box_404>h3 {
  color: #050505;
  font-size: 6rem;
}
.contant_box_404>p {
  color: #ad9999;
  font-size: 28px;
}

@media (max-width: 580px) {
  .four_zero_four_bg>h1 {
    text-align: center;
    font-size: 5rem;
  }
  .four_zero_four_bg{
    height: 500px;
    width: 100%;
    background-position: center;
    margin-top: 50px;
  }
  .contant_box_404 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contant_box_404>h3 {
    font-size: 3rem;
  }

  .contant_box_404>p {
    width: fit-content;
    font-size: 1.7rem;
    padding: 1rem;
  }


}