
.subInner-conteiner{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--black);
  z-index: 10;
  position: relative;
  padding: 40px 0px;
}
.subInner{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 1000px; */
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--black);
  z-index: 10;
  position: relative;
  
}
.subInner-section{
  display: flex;
  width: 250px;
  height: 300px;

  
}
.subInner-section-img {
  
  width: 100%;
  height: 100%;
/* border: 1px solid var(--black); */
border-radius: 20px;
background-color: var(--white);

}
.subInner-section-img:hover {
box-shadow: 1px 1px 8px 6px var(--white);
cursor: pointer;
}
.text-scu{
 color:var(--black);
 margin-left: 10px;
 font-size: 12px;
}
.text-scu>span{
 color:var(--black);
 margin-left: 10px;
font-size: 10px;
}
.subInner-section-img>img,
.subInner-section-img>video {
  
  width: 100%;
  height: 90%;
  border-radius: 18px;


}
.subBack{

 padding-left: 35px;
 font-size: 20px;
 color: var(--white);
 
}
/* MODAL */

.modal {
  position:fixed ;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: var(--black);
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  max-height: 80%;
  overflow: auto;
  

}
.close{
  color: var(--white);
  font-size: 60px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
.modal-img{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.modal-video{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.modal-video>video{
  width: 100%;
  height:100%;
  border-radius: 10px;}
.modal-img>img{
  width: 100%;
  height:100%;
  border-radius: 10px;
}
.modal-info{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.modal-info>p{
  color: var(--white);
  font-size: 20px;
  margin-bottom: 3px;
}
