@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --fontFamily: "Montserrat", sans-serif;
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --grey: rgb(95, 94, 94);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--white);
  font-family: var(--fontFamily);
  font-size: 62.5%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--black);
  overflow: hidden;
}
.header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  padding: 1rem 3rem;
}
.lng {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.lngBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  cursor: pointer;

  background: transparent;

  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
}
.activeLng {
  background: var(--grey);
  border: none;
  color: var(--white);
}
.menu,
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.iconSize {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.iconSize:hover {
  transform: scale(1.1) rotate(10deg) translateY(-5px);
  transition: all 0.5s ease-in-out;
}
.logo1 {
  display: flex;
  width: 535px;
  padding: 0 5.5rem;
  justify-content: center;
}
.logoHeader{
  width: 100%;
  padding: 5.2rem;
  margin: 1rem;
}
/* main */

.section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainVideo {
  width: 100%;
  position: relative;
  display: contents;
  align-items: center;
}
.mainVideo > video {
  width: 100vw;
  max-height: 800px;
  overflow: hidden;
  object-fit: cover;
}
.mainText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 50%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainText > h1 {
  color: white;
  font-size: 34px;
  text-align: center;
  z-index: 1;
  font-family: var(--fontFamily);
  font-weight: 400;
  font-style: normal;
}
.mainText > span {
  content: "";
  display: inline-block;

  width: 100%;
  height: 3px;
  background-color: var(--white);
  animation: shine 2.5s linear infinite;
}
@keyframes shine {
  0% {
    left: -100%;
    box-shadow: 0px 0px 0px -1px rgba(255, 255, 255, 0.8);
  }
  50% {
    left: 100%;
    box-shadow: 0px 0px 50px 6px rgba(255, 255, 255, 0.4);
  }
  100% {
    left: 100%;
    box-shadow: 0px 0px 0px -1px rgba(255, 255, 255, 0.8);
  }
}
/* slic-slider */
.slider-coneiner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--white);
  position: absolute;
}
.slick-slider {
  width: 100vw;
  height: 800px;
}
.slick-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.slick-track {
  width: 2000px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: center;
  border-radius: 10px;
}
.slick-initialized {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slick-slide > div > img {
  width: 100%;
  height: 500px;
}
.slick-slide > div > video {
  width: 100vw;
  height: 100%;
  outline: auto;
  border-radius: 10px;
}
.slick-arrow {
  width: 50px;
  height: 50px;
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(-50%, -50%);
  z-index: 20;
}
.slick-next {
  position: absolute;
  top: 50%;
  left: 50px;
}
.slick-prev {
  position: absolute;
  top: 50%;
  right: 50px;
}

/* sections */

.sectionList {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem 4rem;
  background-color: var(--black);
}

.sectionPart {
  width: 49.4%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 7px;
  background-color: var(--white);
}

.sectionPart:hover {
  box-shadow: 1px 1px 10px 1px var(--white);
}
.sectionPart > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.sectionPart > a > h2 {
  color: var(--black);
  font-family: var(--fontFamily);
  font-weight: 600;
  font-size: 26px;
}

.sectionPart > a > img {
  width: 70%;
  height: 70%;
  border-radius: 5px;
}

/* footer */

footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--black);
  padding: 3rem 4rem;
}
.footerLeft {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerText > a {
  font-family: var(--fontFamily);
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
  text-align: center;
}

.footerLogo {
  width: 200px;
}
.footerMap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 0 5.5rem;
  padding: 1rem;
}

.footerMap > iframe {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 0 3rem;
  border-radius: 10px;
}
.footerAdrress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.footerAdrress > address > p {
  font-family: var(--fontFamily);
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  text-align: center;
}
/* media  */

.language-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
}
.language-modal > h2 {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.language-modal > button {
  background-color: var(--white);
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid var(--black);
}
.language-modal > button:hover {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}
.language-modal > img {
  width: 40%;
}
.createdBy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 14px;
  font-weight: 600;
  margin-top: 3rem;
}
.createdByTitle {
  font-size: 28px;
  font-weight: 600;
  color: black;
}
.createdByList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.address {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
}

.cBImg {
  width: 60px;
  height: 60px;
}
.copyright{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 14px;
  font-weight: 600;
  color: var(--black );
}
.goto{
  width: 20px;
                  height: 20px;
                  margin-Left: 15px;
                  text-align: center;
}
.footerLogo{
  width: inherit;
  height: 350px;
}
@media (max-width: 1470px) {
  .sectionList {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem 4rem;
    background-color: var(--black);
  }
  .slick-list {
    width: 100%;
  }
  .slick-track {
    align-self: center;
  }
  .slick-slide {
    place-self: center;
  }
  .slideImg {
    width: 100%;
  }
  .sectionPart {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 7px;
    background-color: var(--white);
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    flex-wrap: wrap;
  }
  .lng {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;
  }
  .logo1 > a > img {
    max-width: 250px;
  }
}
@media (max-width: 580px) {
  .langButton {
    position: relative;
    top: 0px;
    right: 100px;
    z-index: 300;
  }

  .langButtonMain {
    position: relative;
    left: 10px;
    top: 50px;
  }
  .activeLangButton {
    color: var(--white);
    background-color: var(--black);
  }
  .language-modal > img {
    width: 95%;
  }
  .wrapper {
    width: 100vw;
    overflow: hidden;
  }
  .mainVideo {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .video {
    width: 100%;
    max-height: 800px;
    overflow: hidden;
  }
  .logo1 {
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logoHeader {
    min-width: 245px;
  }
  .header {
    padding: 0.5rem;
    justify-content: center;
  }

  .mainText {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .slick-arrow {
    display: none !important;
  }

  /* main */

  /* section  */
  .sectionList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .sectionPart {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .sectionPart > a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .sectionPart > a > h2 {
    text-align: center;
    font-size: 28px;
    place-self: center;
  }
  .sectionPart > a > img {
    width: 80%;
  }

  /* footer */

  footer {
    width: 100%;
    flex-direction: column;

    gap: 2rem;
  }
  .footerLeft {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .footerLogo{
    width: 100%;
    height: fit-content;
  }
  .footerMap {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .footerMap > iframe {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .footerAdrress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  /* slider */
  .slider-conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
  }
  .slick-initialized {
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
  }
  .slideImg {
    width: 100vw;
  }
}
